<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tarce.myodoo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_NEWLAND"/>
    <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SalesOutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SalesListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SalesDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SalesInActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SelectProcedureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShowProcessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProductLlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WaitReworkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MaterialDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PhotoAreaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AreaMessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProductingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BuGetLiaoActivity"
            android:screenOrientation="portrait"/>
    </application>



</manifest>